header{
    color: red;
}

#conversation_div{
    position: absolute;
    right: 10px;
    bottom: 10px;
}

div#conversation_zone{
    display: none;
    border: 2px black;
    height: 200px;
    width: 150px;
}