header{
    color: red;
}

/* #conversation_div{
    position: absolute;
    right: 10px;
    bottom: 10px;
} */
body{
    background-image: url('PC.jpg');
    background-repeat: no-repeat;
    background-position: 35% 15%;
}
div#conversation_zone{
    background-size: 800px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -375px;
    margin-top: -320px;
} 
div#conversation_div{
    overflow-y: scroll;
    border: 2px solid black;
    height: 370px;
    width: 600px;
}

#conversation_div div.botMsg{
    position: relative;
    left: 25px;
    border: 1px solid black;
    width: 250px;
    position: relative;
    margin-top: 10px;
}
#conversation_div div.myMsg{
    position: relative;
    left: 350px;
    width: 200px;
    border: 1px solid red;
    margin-top: 10px;
}

#question_input_div{
    float: right;
}
#question_input_div input{
    width: 450px;
    background-color: transparent;
}
#question_input_div button{
    background-color: transparent;
}