header{
    color: red;
}

/* #conversation_div{
    position: absolute;
    right: 10px;
    bottom: 10px;
} */

div#conversation_zone{
    display: none;
    border: 2px solid black;
    height: 400px;
    width: 350px;
}

#conversation_div div.botMsg{
    border: 1px solid black;
    width: 150px;
}
#conversation_div div.myMsg{
    position: relative;
    left: 200px;
    width: 150px;
    border: 1px solid red;
}